.table {
  width: 400px;
  height: 365px;
  background-color: lightblue;
  overflow-y: scroll;
  padding: 12px;
  border-radius: 6px;
}
.heading1 {
  font-size: 30px;
}
.heading2 {
  font-size: 20px;
}

.data {
  color: #000;
  font-weight: bold;
  width: 100%;
  padding-bottom: 5px;
}
.row:nth-child(even) {
  background-color: lightgray;
}
